@import url('http://fonts.cdnfonts.com/css/roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-section a{
  padding-top: 2px;
  font-size: 1.28rem;
  text-decoration: none !important;
  color: black
}

.scroll_bar_visible::selection {
  background-color: rgb(218, 210, 210);
}

.scroll_bar_visible::-webkit-scrollbar {
  width: 10px !important;
  background-color: #2e313a;
}

.scroll_bar_visible::-webkit-scrollbar-thumb {
  background-color: #f0fdff;
}

body {
  overflow-x: hidden;
}

.container1 {
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.container1 section {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.navbar-section {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.navbar-section p,
a i,
button i {
  color: rgb(59, 58, 58);
  font-size: 1.4rem;

}

.navbar-section button {
  background: none;
  border: none;
  outline: none;
}

.navbar-section p {
  padding-right: 10px;
}

.navbar-section a {
  padding-right: 10px;
}

.navbar-section a i {
  font-size: 1.8rem;
}

.searchbar-section {
  transform: translateY(300px);
  display: flex;
  justify-content: center;
}

.searchbar-section .searchbar {
  position: absolute;
  display: flex;
}

.searchbar input {
  width: 30vw;
  height: 2.3rem;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}

.searchbar i {
  color: rgba(75, 73, 73, 0.705);
  position: relative;
  top: 12px;
  right: 30px;
}

@media (max-width:700px) {
  .searchbar input {
    width: 50vw;
  }
}

@media (max-width:360px) {
  .searchbar input {
    width: 70vw;
  }
}

.container2 {
  background-color: #2e313a;
}

.container2 section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* section .leftside {
  width: 30vw;
} */

section .leftside img {
  width: 40vw;
  height: 400px;
}

section .rightside {
  display: flex;
  flex-direction: column;
  color: white;
}

section .rightside h4 {
  width: 50vw;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

section .rightside ul li {
  font-family: 'Roboto', sans-serif;
  font-family: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .rightside a {
  border: none;
  text-decoration: none;
  background-color: #6c63ff;
  border-radius: 5px;
  padding: .625rem 1.25rem;
  color: white;
  font-weight: bold;
  margin-top: 0.625rem;
  text-align: center;
  width: 5.625rem;
}

section .rightside a:hover {
  color: #6c63ff;
  background-color: white;
  box-shadow: 4px 4px 15px rgba(75, 73, 73, 0.705);
}

@media (max-width:790px) {
  .container2 section {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .container2 section .leftside img {
    width: 85vw;
    height: 370px;
  }

  .container2 .rightside h4 {
    width: 70vw;

  }
}

@media (max-width:500px) {
  .container2 section .leftside img {
    width: 95vw;
    height: 330px;
  }

  .container2 .rightside h4 {
    font-size: 1.3rem;

  }

  .container2 .rightside ul li {
    font-size: .85rem;
  }
}

@media (max-width:420px) {
  .container2 section .leftside img {
    height: 250px;
  }
}

@media(max-width:360px) {
  .container2 section .leftside img {
    width: 97vw;
    height: 230px;
  }

  .container2 .rightside {
    margin-left: 10px;
  }

  .container2 .rightside h4 {
    font-size: 1.3rem;

  }

  .container2 .rightside ul li {
    font-size: .75rem;
  }

  section .rightside a {
    padding: .525rem 1.05rem;
    color: white;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 5.6rem;
  }
}

@media(max-width:300px) {
  .container2 section .leftside img {
    width: 100vw;
    height: 190px;
  }

  .container2 .rightside {
    margin-left: 25px;
  }

  section .rightside a {
    padding: .525rem 1.05rem;
    color: white;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 4.9rem;
    font-size: 14px;
  }

  section .leftside {
    margin-bottom: 5px;
  }

  .container2 .rightside h4 {
    font-size: 1.1rem;

  }

  .container2 .rightside ul li {
    font-size: .73rem;
  }

  .navbar-section p {
    font-size: 1.1rem;
  }

  .navbar-section a i {
    font-size: 1.4rem;
  }

  .navbar-section button i {
    font-size: 1.1rem;
  }

  .container1 {
    height: 500px;
  }

  .searchbar-section {
    transform: translateY(150px);
  }
}




.navbar-section p a{
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding:5px 10px 6px 10px;
  transition: all .3s;
}
.navbar-section p a:hover{
  background-color: rgba(36, 35, 35, 0.774);
  color: white;
}