@import url('http://fonts.cdnfonts.com/css/roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll_bar_visible::selection {
  background-color: rgb(253, 250, 250);
}

.scroll_bar_visible::-webkit-scrollbar {
  width: 10px !important;
  background-color: #2e313a;
}

.scroll_bar_visible::-webkit-scrollbar-thumb {
  background-color: #ddf3f7;
}
.no_scroll_bar::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}
#preloader_container {

  position: fixed;
  z-index: 9999999;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  opacity: 1;
}
.preloader_container h3 {
  position: fixed;
  top: 57%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  margin-top: 25px;
}
#loader {
  position: relative;
  background-color: #455a64;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.preloader_container h3 {
  position: fixed;
  top: 57%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  margin-top: 25px;
}

#pre-loader {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}

#pre-loader div {
  width: 20px;
  height: 20px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
}


.container1 {
  height: 700px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.014), rgba(255, 255, 255, 0.007)), url("/images/pexels-aaditya-arora-592753.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1050px;
  z-index: 1;

}

.main {
  background-color: rgba(255, 243, 226, 0);
  height: 30vh;
  width: 150vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.india_heading {
  margin: 3vh auto 3vh auto;
  /* font-family: 'Italiana', serif; */
  font-family: 'Metamorphous', cursive; 
  /* font-family: 'Mr Bedfort', cursive; */
  color: rgb(255, 255, 255);
  text-shadow: 4px 5px 5px rgb(0, 0, 0);
  text-align: center;
  font-size: 77px;
  letter-spacing: 43px;
}

.india_phrase {
  text-align: center;
  padding: 3vh auto 0vh auto;
  font-family: 'Metamorphous', cursive;
  transform: translateY(-3.5vh);
  letter-spacing: 3px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.container1 section {
  width: inherit;
  display: block;
  flex-direction: column;
}

.navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem;
  background: rgba(253, 251, 251, 0.055);
  height: 8vh;
  width: 100%;
}

.navbar-section p,
a,
i,
button {
  color: rgb(253, 249, 249);
  font-size: 1.3rem;
}

.user {
  margin-right: 5vh;
}

.btn {
  margin-top: -2px;
}

.navbar-section button {
  background: none;
  border: none;
  outline: none;
}

.navbar-section p {
  padding-right: 10px;
}

.navbar-section a {
  padding-right: 10px;
}

.navbar-section a i {
  font-size: 24px;
  margin-top: -4px;
}

@media(max-width:840px) {
  .main {
    width: 61vh;
  }
}

@media(max-width:700px) {
  .india_heading {
    font-size: 60px;
  }
}

.container2 {
  width: 50%;
  height: 600px;
  margin: 50px auto 50px auto;
  z-index: 101;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.amin_container2{
  background-color: #0a0a0a71;
  display: flex;
  flex-direction: row;
}

.recognization {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #0a0a0a71;
}

.head {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 5px 5px 5px black;
  padding-bottom: 5px;
}
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
}

.toggle {
  cursor: pointer;
  background-color:#0a0a0a00;
  width: 25vw;
  border: none;
}
.fa-arrow{
  color: #ddf3f7;
  font-weight: bolder;
}

@media(max-width:300px) {
  section .rightside a {
    padding: .525rem 1.05rem;
    color: white;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 4.9rem;
    font-size: 14px;
  }

  section .leftside {
    margin-bottom: 5px;
  }

  .navbar-section p {
    font-size: 1.1rem;
  }

  .navbar-section a i {
    font-size: 1.4rem;
  }

  .navbar-section button i {
    font-size: 1.1rem;
  }

  .container1 {
    height: 500px;
  }

}


.navbar-section a {
  font-size: 18px;
  text-decoration: none;
  background-color: none;
  color: rgb(248, 246, 246);
  padding: 16px 50px 14.5px 50px;
  transition: all .3s;
  font-family: 'Roboto', sans-serif;
}

@media(max-width:820px) {
  .navbar-section a {
    font-size: 15px;
    padding: 16px 30px 13.5px 30px;
  }
}

.navbar-section a:hover {
  background: #c9acacc3;
  border-bottom: 3px solid rgba(155, 75, 75, 0.781);
  color: #ffffff;
  transition: 0.4s;
}


#ball1 {
  animation: animate 2s linear infinite;
  margin: 10px;
}

#ball2 {
  animation: animate 2s linear infinite -.4s;
  margin: 10px;

}

#ball3 {
  animation: animate 2s linear infinite -.8s;
  margin: 10px;

}

#ball4 {
  animation: animate 2s linear infinite -1.2s;
  margin: 10px;

}

#ball5 {
  animation: animate 2s linear infinite -1.6s;
  margin: 10px;

}

@keyframes animate {
  0% {
    left: 100px;
    top: 0px;
  }

  80% {
    width: 100px;
    left: 0;
    top: 10px;
  }

  85% {
    left: 0;
    top: -10px;
    width: 40px;
    height: 40px;

  }

  90% {
    width: 40px;
    height: 15px;
    top: -60px;

  }

  95% {
    left: 100px;
    top: -80px;
    width: 20px;
    height: 20px;

  }

  100% {
    left: 100px;
    top: 0;
  }
}


#dot1 {
  animation: opacityAnim .4s linear infinite;
}

#dot2 {
  animation: opacityAnim .6s linear infinite;
}

#dot3 {
  animation: opacityAnim .8s linear infinite;
}

@keyframes opacityAnim {
  from {
    opacity: 1;
    position: relative;
    top: 0;
  }

  to {
    opacity: 0;
    position: relative;
    top: 5px;
  }
}
