@import url('http://fonts.cdnfonts.com/css/roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-section a{
  padding-top: 2px;
  font-size: 1.28rem;
  text-decoration: none !important;
  color: black
}

.scroll_bar_visible::selection {
  background-color: rgb(218, 210, 210);
}

.scroll_bar_visible::-webkit-scrollbar {
  width: 10px !important;
  background-color: #2e313a;
}

.scroll_bar_visible::-webkit-scrollbar-thumb {
  background-color: #f0fdff;
}

body {
  overflow-x: hidden;
}

.container1 {
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.container1 section {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.navbar-section {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.navbar-section p,
a i,
button i {
  color: rgb(59, 58, 58);
  font-size: 1.4rem;

}

.navbar-section button {
  background: none;
  border: none;
  outline: none;
}

.navbar-section p {
  padding-right: 10px;
}

.navbar-section a {
  padding-right: 10px;
}

.navbar-section a i {
  font-size: 1.8rem;
}

.searchbar-section {
  transform: translateY(300px);
  display: flex;
  justify-content: center;
}

.searchbar-section .searchbar {
  position: absolute;
  display: flex;
}

.searchbar input {
  width: 30vw;
  height: 2.3rem;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}

.searchbar i {
  color: rgba(75, 73, 73, 0.705);
  position: relative;
  top: 12px;
  right: 30px;
}

@media (max-width:700px) {
  .searchbar input {
    width: 50vw;
  }
}

@media (max-width:360px) {
  .searchbar input {
    width: 70vw;
  }
}

.container2 {
  background-color: #2e313a;
}

.container2 section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* section .leftside {
  width: 30vw;
} */

section .leftside img {
  width: 40vw;
  height: 400px;
}

section .rightside {
  display: flex;
  flex-direction: column;
  color: white;
}

section .rightside h4 {
  width: 50vw;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

section .rightside ul li {
  font-family: 'Roboto', sans-serif;
  font-family: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .rightside a {
  border: none;
  text-decoration: none;
  background-color: #6c63ff;
  border-radius: 5px;
  padding: .625rem 1.25rem;
  color: white;
  font-weight: bold;
  margin-top: 0.625rem;
  text-align: center;
  width: 5.625rem;
}

section .rightside a:hover {
  color: #6c63ff;
  background-color: white;
  box-shadow: 4px 4px 15px rgba(75, 73, 73, 0.705);
}

@media (max-width:790px) {
  .container2 section {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .container2 section .leftside img {
    width: 85vw;
    height: 370px;
  }

  .container2 .rightside h4 {
    width: 70vw;

  }
}

@media (max-width:500px) {
  .container2 section .leftside img {
    width: 95vw;
    height: 330px;
  }

  .container2 .rightside h4 {
    font-size: 1.3rem;

  }

  .container2 .rightside ul li {
    font-size: .85rem;
  }
}

@media (max-width:420px) {
  .container2 section .leftside img {
    height: 250px;
  }
}

@media(max-width:360px) {
  .container2 section .leftside img {
    width: 97vw;
    height: 230px;
  }

  .container2 .rightside {
    margin-left: 10px;
  }

  .container2 .rightside h4 {
    font-size: 1.3rem;

  }

  .container2 .rightside ul li {
    font-size: .75rem;
  }

  section .rightside a {
    padding: .525rem 1.05rem;
    color: white;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 5.6rem;
  }
}

@media(max-width:300px) {
  .container2 section .leftside img {
    width: 100vw;
    height: 190px;
  }

  .container2 .rightside {
    margin-left: 25px;
  }

  section .rightside a {
    padding: .525rem 1.05rem;
    color: white;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 4.9rem;
    font-size: 14px;
  }

  section .leftside {
    margin-bottom: 5px;
  }

  .container2 .rightside h4 {
    font-size: 1.1rem;

  }

  .container2 .rightside ul li {
    font-size: .73rem;
  }

  .navbar-section p {
    font-size: 1.1rem;
  }

  .navbar-section a i {
    font-size: 1.4rem;
  }

  .navbar-section button i {
    font-size: 1.1rem;
  }

  .container1 {
    height: 500px;
  }

  .searchbar-section {
    transform: translateY(150px);
  }
}


.slider-container {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.slider-container .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 5%;
}


.slider-container .box .content {
  width: 50rem;
}

.slider-container .box .content span {
  font-size: 3rem;
  color: #10221b;
  color: rgb(228, 225, 225);
  text-shadow: 3px 3px 4px #10221b;
}

.slider-container .box .content h3 {
  font-size: 2rem;
  color: #219150;
  padding-top: .5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px #10221b;
}

.slider-container .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1rem;
  padding: 1rem 0;
  color: white;
  text-shadow: 1px 1px 4px #10221b;
  font-weight: bold;

}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: #10221b;
  color: #219150;
}

.btns {
  margin-top: 1rem;
  display: inline-block;
  border: none !important;
  outline: none !important;
  color: #10221b;
  color: white;
  cursor: pointer;
  background: rgba(16, 34, 27, 0.3);
  backdrop-filter: blur(20px);
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s all;
}

.btns:hover {
  background: #219150;
  color: #fff;
}


.navbar-section a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  background-color: #ffffff;
  color: rgb(41, 41, 41);
  padding: 5px 10px 6px 10px;
  transition: all .3s;
}

.navbar-section a:hover {
  background-color: rgba(87, 86, 86, 0.829);
  color: #ffffff;
  box-shadow: 0px 0px 4px #444444;
}

.no_scroll_bar::-webkit-scrollbar {
  display: none;
}

.scrollBarVisible::selection {
  background-color: rgb(218, 210, 210);
}

.scrollBarVisible::-webkit-scrollbar {
  width: 10px !important;
  background-color: #2e313a;
}

.scrollBarVisible::-webkit-scrollbar-thumb {
  background-color: #a9f2ff;
}

#preloader_container {

  position: fixed;
  z-index: 9999999;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  opacity: 1;
}

#loader {
  position: relative;
  background-color: #455a64;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.preloader_container h3 {
  position: fixed;
  top: 57%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  margin-top: 25px;
}

#pre-loader {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}

#pre-loader div {
  width: 20px;
  height: 20px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
}

#ball1 {
  animation: animate 2s linear infinite;
  margin: 10px;
}

#ball2 {
  animation: animate 2s linear infinite -.4s;
  margin: 10px;

}

#ball3 {
  animation: animate 2s linear infinite -.8s;
  margin: 10px;

}

#ball4 {
  animation: animate 2s linear infinite -1.2s;
  margin: 10px;

}

#ball5 {
  animation: animate 2s linear infinite -1.6s;
  margin: 10px;

}

@keyframes animate {
  0% {
    left: 100px;
    top: 0px;
  }

  80% {
    width: 100px;
    left: 0;
    top: 10px;
  }

  85% {
    left: 0;
    top: -10px;
    width: 40px;
    height: 40px;

  }

  90% {
    width: 40px;
    height: 15px;
    top: -60px;

  }

  95% {
    left: 100px;
    top: -80px;
    width: 20px;
    height: 20px;

  }

  100% {
    left: 100px;
    top: 0;
  }
}


#dot1 {
  animation: opacityAnim .4s linear infinite;
}

#dot2 {
  animation: opacityAnim .6s linear infinite;
}

#dot3 {
  animation: opacityAnim .8s linear infinite;
}

@keyframes opacityAnim {
  from {
    opacity: 1;
    position: relative;
    top: 0;
  }

  to {
    opacity: 0;
    position: relative;
    top: 5px;
  }
}
